################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DepFinder/.vs/DepFinder
/DepFinder/obj
/DepFinder/bin/Debug/net9.0
